<nav class=" color-navbar navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand fixx-color" href="/">Trang chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-auto" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand fixx-color color-button" href="/money/create">Tính lương</a>
      </li>
      
      <li class="nav-item active">
        <a class="navbar-brand fixx-color color-button" href="/me/money/store">Thông tin lưu trữ</a>

      </li>
    </ul>
  </div>
</nav>